########################
# NODES
########################

# Defined in alphabetical order

alteration:
    is_a: sequence variant
    represented_as: node
    label_in_input: alteration
    properties:
        citation_PM_ids: str
        consequence: str
        homogenous: str
        level_of_evidence: str
        mutation_effect_description: str
        name: str
        oncogenic: str
        reference_genome: str
        tumor_type: str
        tumor_type_summary: str
        variant_summary: str

disease:
    represented_as: node
    label_in_input: disease
    properties:
        name: str

drug:
    represented_as: node
    label_in_input: drug
    properties:
        name: str

gene status:
    is_a: outcome
    represented_as: node
    label_in_input: gene_status
    properties:
        name: str

gene:
    represented_as: node
    label_in_input: gene
    properties:
        gene_summary: str
        name: str

# protein:
#     represented_as: node
#     label_in_input: protein
#     properties:
#         name: str

patient:
    represented_as: node
    label_in_input: patient
    synonym_for: case
    properties:
        survival: str
        treatment_strategy: str
        name: str

sample:
    is_a: material sample
    respresented_as: node
    label_in_input: sample
    properties:
        name: str

########################
# EDGES
########################

## CAUSAL LINKS
## Everything that derivates from the "causes" link type.
## Comprises both real causes and ownership ("carries").

### CARRIES

# To allow queries for patient carrying samples, and samples carrying alterations,
# without mixing with "effects" causes.
carries:
    is_a: causes
    represented_as: edge
    label_in_input: carries
    properties:
        name: str
        edglelabel: str

patient carries sample:
    is_a: carries
    represented_as: edge
    label_in_input: patient_carries_sample
    source: patient
    target: sample
    properties:
        name: str
        edglelabel: str

sample carries alteration:
    is_a: carries
    represented_as: edge
    label_in_input: sample_carries_alteration
    source: sample
    target: alteration
    properties:
        name: str
        edglelabel: str

### CAUSES

# A gene is linked to its gene status (gain or loss of function),
# which are represented as nodes, so as to allow a causal path
# to go through alteration -> gene status -> transcript activity.
# Hence, outcomes have at least two instances:
# - Gene:GoF, and
# - Gene:LoF.

alteration causes gene status:
    is_a: causes
    represented_as: edge
    label_in_input: alteration_causes_gene_status
    source: alteration
    target: gene status
    properties:
        name: str
        edglelabel: str

### BIOMARKER

# In some databases, such as OncoKB, drugs are associated with variants
# as predictive markers for treatment response, 
# based on clinical evidence categorized by evidence levels. 

alteration biomarker for drug:
    is_a: biomarker for
    represented_as: edge
    label_in_input: alteration_biomarker_for_drug
    source: alteration
    target: drug
    properties:
        name: str
        edglelabel: str

## METADATA

patient has chronic illness:
    is_a: entity to disease association
    represented_as: edge
    label_in_input: patient_has_chronic_illness
    source: patient
    target: disease
    properties:
        name: str

### AFFECTS

alteration affects gene:
    is_a: affects
    represented_as: edge
    label_in_input: alteration_affects_gene
    source: alteration
    taregt: gene
    properties:
        name: str

gene status affects gene:
    is_a: affects
    represented_as: edge
    label_in_input: gene_status_affects_gene
    source: gene status
    target: gene
    properties:
        name: str
        edglelabel: str


### GO -- TO BE FIXED
# annotation: 
#     is_a: named thing
#     represented_as: node
#     label_in_input: annotation

biological process:
    is_a: named thing
    represneted_as: node
    label_in_input: biological_process
    properties:
        name: str

# annotation for gene: 
#     is_a: association
#     represented_as: edge
#     label_in_input: annotation_for_gene
#     source: annotation
#     target: gene

# involved in: 
#     is_a: association
#     represented_as: edge
#     label_in_input: involved_in
#     source: annotation
#     target: biological process

gene to biological process:
    is_a: association
    represented_as: edge
    label_in_input: gene_to_biological_process
    source: gene
    target: biological process
    properties:
        edglelabel: str
        name: str

biological process to gene:
    is_a: association
    represented_as: edge
    label_in_input: biological_process_to_gene
    source: biological process
    target: gene
    properties:
        # edglelabel: str
        name: str

# protein target for drug:
#     is_a: pairwise molecular interaction
#     represented_as: edge
#     input_label: protein_target_for_drug
#     source: protein
#     target: drug
#     properties:
#         is_directed: bool
#         is_stimulation: bool
#         is_inhibition: bool
#         consensus_direction: bool
#         consensus_stimulation: bool
#         consensus_inhibition: bool
#         sources: str
#         references: str
#         omnipath: bool
#         kinaseextra: bool
#         ligrecextra: bool
#         pathwayextra: bool
#         dorothea: bool
#         collectri: bool
#         tf_target: bool
#         lncrna_mrna: bool
#         tf_mirna: bool
#         small_molecule: bool
#         dorothea_curated: bool
#         dorothea_chipseq: bool
#         dorothea_tfbs: bool
#         dorothea_coexp: bool
#         dorothea_level: str
#         type: str
#         curation_effort: int
#         extra_attrs: str
#         evidences: str
#         name: str

